@model IEnumerable<SilliconValley.Integration.reqres.dto.User>

@{
    ViewData["Title"] = "ListaUsuarios";
}

<div class="navi"></div>
<div class="container">

    <h1 class=" text-center">Usuario</h1>
    <div class="row justify-content-center">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().id)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.avatar)
                </th>
            </tr>
        </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="table-row" data-id="@item.id">
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td class="avatar-cell">
                        <img src="@item.avatar" class="d-block img-fluid" alt="Avatar">
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var rows = document.querySelectorAll('.table-row');
                rows.forEach(function(row) {
                    row.addEventListener('click', function() {
                        var userId = this.getAttribute('data-id');
                        window.location.href = '/User/Details/' + userId;
                    });
                });
            });
        </script>
    </div>
</div>